@page "/"
<HeadContent>
<PageTitle>Kephri Puzzle Solver</PageTitle>
	<link rel="icon" type="image/jpg" href="/Images/Test.jpg" />
</HeadContent>

<div class="body-main">
	<h1>Kephri Puzzle Solver</h1>
	<hr />
	<br />
	<h3>About</h3>
	<p>This page can be used to solve the <abbr title="Old School RuneScape">OSRS</abbr> Kephri tile flip puzzle found in 
		<abbr title="Tombs of Amascut"><a href="https://oldschool.runescape.wiki/w/Tombs_of_Amascut">TOA</a></abbr>.
	</p>
	<h5>How the Puzzle Works</h5>
	<p>The Kephri puzzle is a rendition of the <a href="https://en.wikipedia.org/wiki/Lights_Out_(game)">Lights Out</a> puzzle released in 1995. The goal of the puzzle is to light up all tiles. 
		When entering the room, a semi-random assortment of tiles will be lit up. A tile can be lit / unlit by stepping on it, but doing so also flips the state of all adjacent tiles.</p>
	<h5>How the Puzzle Solver Works</h5>
	<p>This puzzle solver can be used to determine what tiles need to be stepped on to successfully complete the puzzle. To use the puzzle solver, you must: 
		<ol>
			<li>Ensure <strong>Standard Mode</strong> is disabled</li>
			<li>Click on the tiles that are lit at the start of the puzzle</li>
			<li>Click on the <strong>Solve Puzzle</strong> button</li>
		</ol>
		Once the <strong>Solve Puzzle</strong> button is pressed, the puzzle solver will calculate what tiles to step on. Once calculated, the correct tiles will be outlined in 
		<span style="color: red">red</span>.
	</p>
	<p>
		<strong>Puzzle Solver Modes</strong><br />The puzzle solver has 2 distinct modes, <b><em>Standard Mode On</em></b> and <b><em>Standard Mode Off</em></b>. By default, standard mode is turned off. The
		current mode can be viewed and altered by using the <strong>Standard Mode</strong> checkbox below the <strong>Solve Puzzle</strong> button.
		<ul>
			<li><b>Standard Mode On</b>: This replicates how the puzzle functions in-game. In this mode, any tiles flipped will also flip adjacent tiles.</li>
			<li><b>Standard Mode Off</b>: This is used to set up the puzzle. In this mode, only tiles clicked on will be flipped.</li>
		</ul>
	</p>
	<p style="padding-top: 20px">Click on tiles to flip their default state. Once tiles are set to the right starting position, click on the "Solve Puzzle" button to display the solution.</p>
	<div class="parent-box">
		<div class="box-row">
			<div @onclick="() => ChangeStartState(0)" class="child-box left-box @StateStyle(flippedTiles[0]) @BorderStyle(solvedFlipOrder[0])"></div>
			<div @onclick="() => ChangeStartState(1)" class=" child-box middle-box @StateStyle(flippedTiles[1]) @BorderStyle(solvedFlipOrder[1])"></div>
			<div @onclick="() => ChangeStartState(2)" class="child-box right-box @StateStyle(flippedTiles[2]) @BorderStyle(solvedFlipOrder[2])"></div>
		</div>
		<div class="box-row">
			<div @onclick="() => ChangeStartState(3)" class="child-box left-box @StateStyle(flippedTiles[3]) @BorderStyle(solvedFlipOrder[3])"></div>
			<div class="child-box middle-box opacity-0"></div>
			<div @onclick="() => ChangeStartState(5) " class="child-box right-box @StateStyle(flippedTiles[5]) @BorderStyle(solvedFlipOrder[5])"></div>
		</div>
		<div class="box-row">
			<div @onclick="() => ChangeStartState(6)" class="child-box left-box @StateStyle(flippedTiles[6]) @BorderStyle(solvedFlipOrder[6])"></div>
			<div @onclick="() => ChangeStartState(7)" class="child-box middle-box @StateStyle(flippedTiles[7]) @BorderStyle(solvedFlipOrder[7])"></div>
			<div @onclick="() => ChangeStartState(8)" class="child-box right-box @StateStyle(flippedTiles[8]) @BorderStyle(solvedFlipOrder[8])"></div>
		</div>
	</div>
	<div style="text-align: center">
		<button type="button" @onclick="returnFlipOrder" style="margin-top: 20px">Solve Puzzle</button>
		<br />
		<input type="checkbox" name="current_mode" id="mode" style="margin-top: 20px" @bind="mode"/>
		<label for="mode">Standard Mode</label>
	</div>
</div>

